body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

label, textarea {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 40%;
    height: 50px; /* Уменьшаем высоту до 50px */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}
